// out: ../css/gend.min.css, sourcemap: true, compress: true
body
{
    padding-left:50px;
    font-size:12px;
    font-family: thsarabunnew;
}

h1
{
    padding:0;
    margin:0;
    font-family: 'Athiti', sans-serif;
}

p
{
    padding:0;
    margin:0;
}

.table-head
{
    font-weight:bold;
    text-align:center;
    background-color: #AAA;
}

.table-head td
{
    padding:5px;
}

table
{
    width:100%;
}

td
{
    border:1px black solid;
    padding:3px;
}

#config_form
{
    width:400px;
    background-color: #EEE;
}

.btn_submit
{
    width:100%;
    height: 50px;
}

#footer
{
    position: fixed;
    bottom: 0;
}
